/*! @moonjellydigital/pride-flags v1.1.0 | MIT Licenses | https://github.com/moonjellydigital/pride-flags */

:root {
  --some-var: blue;
  --another-var: red;
  --nonbinary-horizontal: linear-gradient(
    to bottom,
    var(--pantone-394-c) 0% 25%,
    var(--white) 25% 50%,
    var(--pantone-265-c) 50% 75%,
    var(--pantone-black-c) 75% 100%
  );
}

.class-1 {
  border-color: var(--some-var);
}

.class-2 {
  color: var(--another-var);
}
