:root {
  --color-primary-text: oklch(23% 0.0219 248.8deg);
  --color-secondary-text: oklch(34% 0.0218 84.5deg);
  --color-accent: oklch(41% 0.1261 263.02deg);
  --color-light-bg: oklch(98% 0.0045 359.99deg);
  --color-container: oklch(100% 0 0deg);
  --color-light-bg-variant: oklch(95% 0.0186 317.73deg);
  --color-outline: oklch(85% 0.0208 318.4deg);
  --shadow:
    rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px,
    rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  --radius-s: 4px;
  --radius-m: 8px;
  --spacing-0: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: clamp(1rem, 0.7391rem + 1.3043vw, 1.75rem);
  --text-display-family: 'DMSans';
  --text-display-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-display-weight: 400;
  --text-display-size: clamp(2.5rem, 2.3182rem + 0.9091vw, 3rem);
  --text-display-transform: none;
  --text-display-line-height: 1.2;
  --text-display-style: normal;
  --text-heading1-family: 'DMSans';
  --text-heading1-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-heading1-weight: 400;
  --text-heading1-size: clamp(1.8rem, 1.6023rem + 0.9886vw, 2.3438rem);
  --text-heading1-transform: none;
  --text-heading1-line-height: 1.3;
  --text-heading1-style: normal;
  --text-heading2-family: 'DMSans';
  --text-heading2-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-heading2-weight: 400;
  --text-heading2-size: clamp(1.5rem, 1.3636rem + 0.6818vw, 1.875rem);
  --text-heading2-transform: none;
  --text-heading2-line-height: 1.3;
  --text-heading2-style: normal;
  --text-heading3-family: 'DMSans';
  --text-heading3-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-heading3-weight: 400;
  --text-heading3-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem);
  --text-heading3-transform: none;
  --text-heading3-line-height: 1.5;
  --text-heading3-style: normal;
  --text-heading4-family: 'DMSans';
  --text-heading4-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-heading4-weight: 400;
  --text-heading4-size: clamp(1.75rem, 1.75rem + 0.6452vw, 2.25rem);
  --text-heading4-transform: none;
  --text-heading4-line-height: 1.5;
  --text-heading4-style: normal;
  --text-heading5-family: 'DMSans';
  --text-heading5-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-heading5-weight: 500;
  --text-heading5-size: clamp(1.0417rem, 0.9841rem + 0.2879vw, 1.2rem);
  --text-heading5-transform: none;
  --text-heading5-line-height: 1.6;
  --text-heading5-style: normal;
  --text-heading6-family: 'DMSans';
  --text-heading6-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-heading6-weight: 600;
  --text-heading6-size: clamp(1.0417rem, 0.9841rem + 0.2879vw, 1.2rem);
  --text-heading6-transform: none;
  --text-heading6-line-height: 1.6;
  --text-heading6-style: normal;
  --text-subtitle1-family: 'DMSans';
  --text-subtitle1-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-subtitle1-weight: 500;
  --text-subtitle1-size: clamp(1.0417rem, 0.9841rem + 0.2879vw, 1.2rem);
  --text-subtitle1-transform: none;
  --text-subtitle1-line-height: 1.6;
  --text-subtitle1-style: normal;
  --text-body-family: 'DMSans';
  --text-body-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-body-weight: 500;
  --text-body-size: 1rem;
  --text-body-transform: none;
  --text-body-line-height: 1.6;
  --text-body-style: normal;
  --text-caption-family: 'DMSans';
  --text-caption-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-caption-weight: 500;
  --text-caption-size: 1rem;
  --text-caption-transform: none;
  --text-caption-line-height: 1.6;
  --text-caption-style: normal;
  --text-graphical1-family: 'DMSans';
  --text-graphical1-fallback:
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-graphical1-weight: 500;
  --text-graphical1-size: 1rem;
  --text-graphical1-transform: none;
  --text-graphical1-line-height: 1.6;
  --text-graphical1-style: normal;
  --text-graphical2-family: 'DMSans';
  --text-graphical2-fallback:
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-graphical2-weight: 700;
  --text-graphical2-size: 0.875rem;
  --text-graphical2-transform: none;
  --text-graphical2-line-height: 1.6;
  --text-graphical2-style: normal;
  --text-small-family: 'DMSans';
  --text-small-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-small-weight: 500;
  --text-small-size: 0.875rem;
  --text-small-transform: none;
  --text-small-line-height: 1.6;
  --text-small-style: normal;
}
