---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
  children: any;
}

const { children, ...attrs } = Astro.props;
---

<section class="section" {...attrs}>
  <div class="section__inner">
    <slot />
  </div>
</section>

<style>
  .section {
    padding: var(--spacing-7) var(--spacing-5);
  }

  .section__inner {
    max-width: 77.5rem;
    margin: 0 auto;

    & :first-child {
      margin-block-start: 0;
    }

    & :last-child {
      margin-block-end: 0;
    }
  }
</style>
